.edit-columns {
  display: flex;
  justify-content: space-between;
  margin: auto 7vw;
  flex-wrap: wrap;
}

/* Individual column styles */
.edit-column {
  width: calc(50% - 20px);
  padding: 10px;
}

/* Column content container */
.column-content {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
}

/* Question list styles */
.question-list {
  margin-top: 10px;
}

/* Edit form container */
.edit-form {
  margin-top: 50px;
  text-align: center;
}

/* Question container */
.question-container {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

@media screen and (max-width: 850px) {
  .edit-column {
    width: calc(100% - 20px);
    margin-bottom: 20px;
  }
}

/* Form styles */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin-bottom: 10px;
}
